<%- include partials/header.ejs %>

<div id="profile" class="container">
  <figure class="image is-128x128">
    <% if (currentUser.profilePicture) { %>
    <img class="is-rounded" src=<%= currentUser.profilePicture %>>
    <% } else { %>
    <img class="is-rounded" src="img/user-solid.svg">
    <% } %>
  </figure>
  <div class="form">
    <form action="/profile" method="POST">
      <div class="field">
        <label class="label" for="username">Username</label>
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="username" placeholder=<%= currentUser.username %>>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label" for="homeCountry">Home country</label>
        <p class="control has-icons-left">
          <span class="select is-fullwidth">
            <select name="homeCountry">
              <option value="" disabled selected><%= currentUser.homeCountry %></option>
              <% countries.forEach((country) => { %>
              <option><%= country.name %></option>
              <% })%>
            </select>
          </span>
          <span class="icon is-small is-left">
            <i class="fas fa-globe-americas"></i>
          </span>
        </p>
      </div>
      <div class="field is-grouped is-grouped-centered">
        <p class="control save is-expanded">
          <button class="button" type="submit">Save</button>
        </p>
        <p class="control delete-btn">
          <a href="/profile/delete" class="button is-danger is-outlined">Delete</a>
        </p>
      </div>
    </form>  
</div>



<%- include('./partials/notifications.ejs') %>
