<%- include partials/header.ejs %>

<div id="travel-log" class="container">
  <div class="container stats">
    <h2 class="title is-2">Your travel log, <%= currentUser.username %></h2>
    <!-- Statitics summary start -->
    <div class="columns">
      <div class="column">
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Countries visited</p>
              <p class="ld ldt-slide-top-in"><%= numOfCountries %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Continents</p>
              <p class="ld ldt-slide-top-in"><%= numOfContinents %>/6</p>
            </div>
          </div>
        </nav>
      </div>
      <div class="column">
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Area covered</p>
              <p class="ld ldt-slide-top-in"><%= percentageArea %> %</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Last trip</p>
              <% if (lastVisitedCountryFlag === undefined) { %>
              <p><i class="fab fa-font-awesome-flag ld ldt-slide-top-in"></i></p>
              <% } else { %>
              <p><img class="ld ldt-slide-top-in" src="<%= lastVisitedCountryFlag %>" alt="country-flag" width="50px" height="50px"></p>
              <% } %>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Statitics summary end -->
  </div>
  <hr>
  <div class="field is-grouped is-grouped-centered">
    <p class="control">
      <a class="button" href="/travellog/map">
        <span class="icon is-small">
          <i class="fas fa-map-marked-alt"></i>
        </span>
        <span>Check map</span> 
      </a>
    </p>
    <p class="control">
      <a class="button action" href="/travellog/add">Add trip</a>
    </p>
  </div>

  <div class="container log">
    <% trips.forEach((trip)=> { %>
    <a href="/travellog/<%= trip.id %>" class="box" style="background: url(<%= trip.img %>) no-repeat center center; background-size: cover;">
      <h3 class="title is-3"><%= trip.name %></h3>
      <form action="/travellog/<%= trip.id %>/delete" method="POST">
        <button class="remove-trip-btn delete is-medium" type="submit"></button>    
      </form> 
    </a>
    <% }) %>
  </div>
</div>


