<%- include partials/header.ejs %>

<div id="travel-log" class="container">
  <div class="container stats">
    <h1>Your travel log, <%= currentUser.username %></h1>
    <!-- Statitics summary start -->
    <div class="columns">
      <div class="column">
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Countries visited</p>
              <p><%= numOfCountries %></p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Continents</p>
              <p>2</p>
            </div>
          </div>
        </nav>
      </div>
      <div class="column">
        <nav class="level is-mobile">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Area covered</p>
              <p><%= areaCovered %> km2</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Last trip</p>
              <p><img src="<%= lastVisitedCountryFlag %>" alt="country-flag" width="50px" height="50px"></p>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Statitics summary end -->
  </div>

  <!-- <div class="container log">
    <ul class="trip-list">
      <% trips.forEach((trip)=>{ %>
      <li><%= trip.name %> 
        <form action="/travellog/<%= trip.id %>/delete" method="POST">
          <button class="remove-trip-btn" type="submit">-</button>    
        </form> 
      </li>
      <% }) %>
    </ul>
    <a href="/travellog/add">Add</a>
    <a href="/travellog/map">Map</a>
  </div>-->
</div>
