<%- include partials/header.ejs %>
<div class="container" id="trip-details">
  
  <figure class="image is-128x128">
    <img src="<%= trip.countries[0].country.flag %>" alt="country-flag">
  </figure>
  <h5 class="title is-5">You have visited <%= trip.countries[0].country.name %></h5>
  <section class="section">
   <p>
    Your trip was from <%= trip.countries[0].dates.startDate %>
    until <%= trip.countries[0].dates.endDate %>
   </p> 
  </section>
  <section clas="section">
    <p>
    It is part of <%= trip.countries[0].country.region %> and has <%= trip.countries[0].country.capital %> for capital.
    </p> 
  </section>
</div>
